.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 570px;
    margin: 0 auto;
    height: 32px;
    padding: 0px 0px;
    border-radius: 20px;
    background-color: #F2F2F2;
  }
  
  .search-input {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 20px;
    height: 30px;
    width: 100%;
    background-color: #F2F2F2;
    color: gray;
    margin-left: 25px;
  }
  
  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 30px;
    color: #F2F2F2;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    margin-left: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0.1, 0.2);
    font-size:small;
    
  }
  
  .search-button:hover {
    background-color: #F2F2F2;
    color: #007aff;
  }
  
  .search-button:active {
    background-color: #007aff;
    color: #F2F2F2;
  }
  
  .search-icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
  }
  
  /* Set margins on smaller devices */
  @media (max-width: 768px) {
    .search-bar {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        width: 90%;
    }
    
  }
  