.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 120vh !important;
}

.h-containerreg {
  width: 720px;
  height: 584px;
  margin-top: 56px;
  margin-bottom: 56px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 48px;
  align-items: center;
  justify-content: center;
}
.text2{
  padding-top: 24px;
  margin-bottom: 24px;
}

.name {
  display: flex;
  align-items: center;
  gap: 24px; 
  margin-bottom: 24px; 
}
.name {
  margin-right: 0;
}

.formr{
  padding-left: 80px;
  
}

.emailreg {
  display: flex;
  align-items: center;
  width: 216px;
  height: 24px;
  border-radius: 6px;
  padding-left: 8px;
  border: 1px solid gray;
}
.reemail {
  display: flex;
  align-items: center;
  width: 456px;
  height: 24px;
  border-radius: 6px;
  padding-left: 8px;
  border: 1px solid gray;
}

.email-input {
  flex-grow: 1;
  border: none;
  color: gray;
  background: none;
  outline: none;
  font-size: small;
}
.remail-input {
  flex-grow: 1;
  border: none;
  color: gray;
  background: none;
  outline: none;
  font-size: small;
}

.email-icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}
.rpassword{
  margin-top: 24px;
  margin-bottom: 24px;
}
.toggle-container {
  display: flex;
  align-items: center;
}

.register-button {
  width: 96px;
  height: 32px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0.1, 0.2);
  margin-left: 288px;
  margin-bottom: 24px;
}

.register-button:hover {
  background-color: #F2F2F2;
  color: #007aff;
}
.register-button.clicked {
  background-color: #007aff;
  color: #F2F2F2;
}
.note{
  margin-top: 24px;
  margin-bottom: 24px;
}
.note-input{
  flex-grow: 1;
  border: none;
  color: gray;
  background: none;
  outline: none;
  font-size: small;
}
.rnote{
    display: flex;
    align-items: center;
    width: 456px;
    height: 80px;
    border-radius: 6px;
    padding-left: 8px;
    border: 1px solid gray;
  }

@media (max-width: 950px) {
  .footer {
    margin-top: auto;
  }
  .h-containerreg {
    width: 100%; 
    height: auto; 
    padding: 0 20px; 
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 400px; 
    box-sizing: border-box; 
  }
  .formr{
    padding-left: 20px;
    padding-right: 10px;
  }
  .reemail {
    width: 100%;
  }
  .name {
    display: flex;
    align-items: center;
    gap: 8px; 
  }
  .remail-input {
    width: 100%;
  }
  .emailreg{
    width: 100%;
  }
  .register-button {
    width: 80px;
    height: 32px;
    margin-left: 140px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .toggle-label{
    margin-bottom: 40px;
    width: auto;
  }
  .note{
    width: 100%;
  }
  .note-input{
    width: 100%;
  }
  .rnote{
      
      width: 100%;
      
    }
  
}