.back{
    width: 90%;
    height: 752px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.bg-lightgray {
    --tw-bg-opacity: 0.5 !important;
    background-color: rgb(242 242 242 / var(--tw-bg-opacity));
}

.left-side{
    float:left;
    width: 50%;
    height: 100%;
}
.right-side{
    float:right;
    width: 50%;
    height: 100%;

}
.mainDiv{
    width: 100%;
    height: 100%;

}
.info{
    width: 95%;
    margin: 20px auto;
    height: 40vh;
    display: flex;
  flex-direction: column;
}
.info p{
    font-weight: 400;
    font-size: 10px;
}
.mainTitle{
    margin-top: 25px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
}

.titleDesc{
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 15px;
}
.priceDiv{
    width: 100%;
    background-color: #F2F2F2;
}
.location{

    margin-left: 27px;
    margin-top: 16px;
    margin-bottom: 26px;

}
.addInfo{
    display: flex;
    width: 40%;
    margin-left: 27px;
    justify-content: space-between;
    align-items: center;
}
.bed{

    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.price{
    margin-top: 26px;
    margin-left: 27px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
.price h1{
    font-weight: 800;
    font-size: 20px;
}

.slide-container{
    margin-top: 25px;
    margin-left: 15px;
}
.picture{
    border-radius: 20px;
    height: 550px !important;
}
.slide-container button{
    display: none !important;
}
.imagesInRow{
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    justify-content: space-between;
}
.imagesInRow img{
    height: 115px;
    width: 115px;
    object-fit: cover;
    border-radius: 20px;
}
.description{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 50%;
}
.leftdesc{
    text-align: left;
    float: left;
    width: 40%;
    height: 100%;
    margin: 0 25px;

}
.leftdesc button {
    margin-top: 50px;
    background-color: #FF9800;
    padding: 8px 32px;
    color: white;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
border-radius: 20px;
}
.leftdesc hr{
    margin-bottom: 20px;
    background-color: goldenrod;
    color: goldenrod;
}
.rightdesc{
    float: right;
    width: 40%;
    height: 100%;
    margin: 0 25px;
  

}
.rightdesc ul{
    list-style: disc !important;

}
.rightdesc hr{
    margin-bottom: 20px;
    background-color: goldenrod;
    color: goldenrod;
}

@media (max-width: 900px) {

    .back{
        display: block;
    }
    .mainDiv{
        display: block;

    }
}
