.pcard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 80px;
  margin-right: 80px;
}


.location {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.location-icon {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-right: 16px;
}

.address{
  font-size:smaller;
}

.rooms-area {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.room-container {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}


.price-container {
    display: flex;
    align-items: center;
  }


.p-card {
  width: calc(33.33% - 20px);
  height: 568px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.p-image {
  width: calc(100% - 48px);
  height: 184px;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
}

.p-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  text-align: center;
}

.desc {
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
}

.propcard-button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 26px;
}

.propcard-button {
  width: 104px;
  height: 32px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0.1, 0.2);
}

.propcard-button:hover {
  background-color: #f2f2f2;
  color: #007aff;
}

.propcard-button.clicked {
  background-color: #007aff;
  color: #f2f2f2;
}

@media (max-width: 950px) {
  .pcard {
    margin-left: 40px;
    margin-right: 40px;
  }

  .p-card {
    width: calc(50% - 20px);
    height: auto;
  }
  .propcard-button{
    margin-bottom: 16px;
  }
  
}


@media (max-width: 580px) {
  .pcard {
    margin-left: 0;
    margin-right: 0;
  }

  .p-card {
    width: 90%; /* One card per row */
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
  
  }
  .propcard-button{
    margin-bottom: 16px;
  }
  
}